:root{
    --primary:#49cce9;
    --dark:#0b2b38;
    --light:#ffffff;
    --text:#d8e3e7;
}

body{
    background-color: var(--dark);
    font-family: 'Poppins', sans-serif;
    color: var(--light);
}

.left{
    background-image: url(./images/BackGroundImage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 101%;
    
}
.container{
    max-width:1152px;
    height: auto;
    padding:0 65px;
    margin: 0 auto;
    }
header nav .nav a{
        color: var(--light);
        text-decoration: none;
        margin-right: 2rem;
        text-transform: uppercase;
        }
header nav .nav a:hover{
            color: var(--primary);
            transition: all .3s ease;
        }
header nav{
            padding: 2rem 0;
            }
.left{
    padding: 1rem;
    max-width: 1152px;
    margin: 0 auto;
    text-shadow: 3px -4px 7px black;
}

.left h6{
font-size: 1.6rem;
color: var(--light);
margin-bottom: 2rem;
margin-top: 1rem;
}
.left h1{
    font-weight: 50;
    line-height: 0rem;
    margin-bottom: 1rem;
    }
.left h2 span{
    color: var(--primary);
}
.btn:hover{
    background: var(--primary);
    border-color: var(--primary);
    color: var(--dark);
}
.btn{
    border-radius: 0.5rem;
   background: var(--dark);
   color: var(--primary);
   border-color: var(--primary);
   padding: 4px;
}

.about{
    margin-top: 0rem;
    padding: 1rem 0;
}
.container h3{
    font-weight: 400;
    margin-bottom: 0rem;
    color: var(--primary);
}
.container p{
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}
.container h1{
        display: flex;
        flex-direction: row;
        font-weight: 400;   
}
.container h1 span{
    color: var(--primary);  
}
.container h1:before, h1:after {
    content: "";
    flex: 0.4 0.4;
    border-bottom: 2px solid var(--text);
    margin: auto;
}
.container a{
    text-decoration: none;
    color: var(--primary);
}
.container h4{
    margin-bottom: 0rem;
}

    

